version: "3.1"
language: si
pipeline:
- name: WhitespaceTokenizer
- name: RegexFeaturizer
- name: LexicalSyntacticFeaturizer
- name: CountVectorsFeaturizer
- name: RegexEntityExtractor
  use_lookup_tables: true
  use_regexes: true
  use_word_boundaries: true
- name: DIETClassifier
  epochs: 150
  constrain_similarities: true
  entity_recognition: true
- name: EntitySynonymMapper
- name: ResponseSelector
  epochs: 100
policies:
- name: MemoizationPolicy
- name: RulePolicy
- name: TEDPolicy
  epochs: 150
  constrain_similarities: true
- name: UnexpecTEDIntentPolicy
  epochs: 100

